version: "3.9"
x-api:
  &x-api
  image: ghcr.io/madgrades/api.madgrades.com@sha256:c1bf80c5aa85d7f8a164fdfd1e5f86379eba6941f4f4f7270981d7f686bd9556
  environment:
    GITHUB_KEY: ${GITHUB_KEY}
    GITHUB_SECRET: ${GITHUB_SECRET}
    SECRET_KEY_BASE: ${SECRET_KEY_BASE}
    ELASTICSEARCH_URL: "http://elasticsearch:9200"
    DATABASE_USERNAME: ${MYSQL_USER}
    DATABASE_PASSWORD: ${MYSQL_PASSWORD}
    DATABASE_NAME: ${MYSQL_DATABASE}
    DATABASE_HOST: database
    DATABASE_PORT: 3306
    PORT: ${PORT}
    RAILS_LOG_TO_STDOUT: ${RAILS_LOG_TO_STDOUT}
    RAILS_ENV: ${RAILS_ENV}
  depends_on:
    database:
      condition: service_healthy
    elasticsearch:
      condition: service_healthy
services:
  migrate:
    <<: *x-api
    command: .dockerfiles/run-migrations.sh
  fetch-seed-data:
    image: ghcr.io/madgrades/madgrades-data@sha256:973fbf96d2184e69d548be8db488a85c951cd3c663b9a592c00b120bce8678d5
    volumes:
      - seed-data:/mnt
  seed:
    <<: *x-api
    command: .dockerfiles/run-seed.sh
    volumes:
      - seed-data:/seed
    depends_on:
      migrate:
        condition: service_completed_successfully
      fetch-seed-data:
        condition: service_completed_successfully
  api:
    <<: *x-api
    command: .dockerfiles/run-api.sh
    ports:
      - '${PORT}:${PORT}'
    healthcheck:
      test: curl -s -f http://api:${PORT} >/dev/null || exit 1
      interval: 10s
      timeout: 10s
      retries: 6
  database:
    image: mariadb:10.0
    command: --max_allowed_packet=1G
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: mysqladmin ping -u${MYSQL_USER} -p${MYSQL_PASSWORD} >/dev/null || exit 1
      interval: 10s
      timeout: 10s
      retries: 6
  elasticsearch:
    image: elasticsearch:6.8.22
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -s -f http://elasticsearch:9200/_cat/health >/dev/null || exit 1
      interval: 10s
      timeout: 10s
      retries: 6
  frontend:
    image: ghcr.io/madgrades/madgrades.com@sha256:60fb4d55eb693eb4eb7c29cfbf2760d2dd452a924138fbe870f960fa09d5806e
    environment:
      REACT_APP_MADGRADES_API: '${REACT_APP_MADGRADES_API}'
      REACT_APP_URL: '${REACT_APP_URL}'
      REACT_APP_MADGRADES_API_TOKEN: '${REACT_APP_MADGRADES_API_TOKEN}'
      REACT_APP_GA_TRACKING_ID: '${REACT_APP_GA_TRACKING_ID}'
      REACT_APP_GA4_TRACKING_ID: '${REACT_APP_GA4_TRACKING_ID}'
      REACT_APP_UPTIME_ROBOT_API_KEY: '${REACT_APP_UPTIME_ROBOT_API_KEY}'
      REACT_APP_ADSENSE_CLIENT: '${REACT_APP_ADSENSE_CLIENT}'
      PORT: '${FRONTEND_PORT}'
    ports:
      - '${FRONTEND_PORT}:${FRONTEND_PORT}'
    healthcheck:
      test: curl -s -f http://frontend:${FRONTEND_PORT} >/dev/null || exit 1
      interval: 10s
      timeout: 10s
      retries: 6

volumes:
  mysql-data:
    name: ${MYSQL_DATA_VOLUME_NAME}
  elasticsearch-data:
    name: ${ELASTICSEARCH_DATA_VOLUME_NAME}
  seed-data:
    name: ${SEED_DATA_VOLUME_NAME}
